@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@utility padding-container {
  @apply px-6 lg:px-20 2xl:px-0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
      --background-about: url('/about.svg');}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

body {
  max-width: 1440px;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-gallery-container {
  border-radius: 6%;
}
.hero-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6%;
  filter: brightness(0.5);
}


@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-gallery-container {
  border-radius: 8px;
  overflow: hidden;
}

.hero-gallery-container img {
  transition: transform 0.3s ease;
}

.hero-gallery-container:hover img {
  transform: scale(1.05);
}

.bg-about-cover {
  background-image: var(--background-about);
  background-size: cover;
  background-position: center;
}
